src/main/resources/wsdl/MLTUser.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:impl="http://MLTUser.TestRequestAPI.loopcare.tollgrade"
    xmlns:intf="http://MLTUser.TestRequestAPI.loopcare.tollgrade"
    xmlns:tns1="http://TestRequestAPI.loopcare.tollgrade"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://MLTUser.TestRequestAPI.loopcare.tollgrade">
    <!-- WSDL created by Apache Axis version: 1.2RC3
Built on Feb 28, 2005 (10:15:14 EST) -->
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://TestRequestAPI.loopcare.tollgrade">
            <import namespace="http://MLTUser.TestRequestAPI.loopcare.tollgrade"/>
            <complexType name="LOGINIDFIELD">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="LoginIdField" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="PASSWDFIELD">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="PasswdField" nillable="true" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="USERINDATA">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="login" type="tns1:LOGINIDFIELD"/>
                    <element maxOccurs="1" minOccurs="0" name="password" type="tns1:PASSWDFIELD"/>
                </sequence>
            </complexType>
            <complexType name="USEROUTDATA">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="testerName" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testerId1" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testerId2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testerId3" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testerPhone" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="warningCode" type="xsd:string"/>
                    <element name="warningDays" type="xsd:short"/>
                    <element maxOccurs="1" minOccurs="0" name="authenticationCode" type="xsd:string"/>
                </sequence>
            </complexType>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://MLTUser.TestRequestAPI.loopcare.tollgrade">
            <import namespace="http://TestRequestAPI.loopcare.tollgrade"/>
            <element name="in0" type="tns1:USERINDATA"/>
            <element name="getUserDataReturn" type="tns1:USEROUTDATA"/>
            <complexType name="UserException">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="reason" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="fault" type="impl:UserException"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="getUserDataRequest">
        <wsdl:part element="impl:in0" name="in0"/>
    </wsdl:message>
    <wsdl:message name="getUserDataResponse">
        <wsdl:part element="impl:getUserDataReturn" name="getUserDataReturn"/>
    </wsdl:message>
    <wsdl:message name="UserException">
        <wsdl:part element="impl:fault" name="fault"/>
    </wsdl:message>
    <wsdl:portType name="MLTSessionOperations">
        <wsdl:operation name="getUserData" parameterOrder="in0">
            <wsdl:input message="impl:getUserDataRequest" name="getUserDataRequest"/>
            <wsdl:output message="impl:getUserDataResponse" name="getUserDataResponse"/>
            <wsdl:fault message="impl:UserException" name="UserException"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MLTSessionAPIProxySoapSoapBinding" type="impl:MLTSessionOperations">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getUserData">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="getUserDataRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getUserDataResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="UserException">
                <wsdlsoap:fault name="UserException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="MLTSessionOperationsService">
        <wsdl:port binding="impl:MLTSessionAPIProxySoapSoapBinding" name="MLTSessionAPIProxySoap">
            <wsdlsoap:address location="http://mltdnt01-test.test.intranet/soaptester/services/MLTSessionAPIProxySoap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>