src/main/resources/wsdl/TestRequestAPI.wsdl

<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
    xmlns:impl="http://TestRequestAPI.loopcare.tollgrade"
    xmlns:intf="http://TestRequestAPI.loopcare.tollgrade"
    xmlns:tns1="http://RequestToMLTPackage.TestRequestAPI.loopcare.tollgrade"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://TestRequestAPI.loopcare.tollgrade">
    <!-- WSDL created by Apache Axis version: 1.2RC3
Built on Feb 28, 2005 (10:15:14 EST) -->
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://TestRequestAPI.loopcare.tollgrade">
            <import namespace="http://RequestToMLTPackage.TestRequestAPI.loopcare.tollgrade"/>
            <complexType name="MLTTESTREQ_HDR">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="testRqstrType" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testRqstrId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testSysId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testSysId2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo1" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo3" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo4" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo5" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo6" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dataChanObjRef" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="callbackObjRef" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="apiversion" type="xsd:string"/>
                    <element name="startTime" type="xsd:int"/>
                    <element name="startTranTime" type="xsd:int"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTREQ_CID_FMTP">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="npa" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="nnx" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="line" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="cktid" type="xsd:string"/>
                    <element name="char1" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="char4" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dpa" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="lti" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTREQ_KEY_CID">
                <sequence>
                    <element name="cktfmt" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="fmtP" type="impl:MLTTESTREQ_CID_FMTP"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTREQ_KEY">
                <sequence>
                    <element name="choice" type="xsd:short"/>
                    <element maxOccurs="1" minOccurs="0" name="unbundleId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="exk" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="oeid" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="cid" type="impl:MLTTESTREQ_KEY_CID"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTREQ_CABLEGAUGEMAKEUP">
                <sequence>
                    <element name="pct26" type="xsd:short"/>
                    <element name="pct24" type="xsd:short"/>
                    <element name="pct22" type="xsd:short"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTREQ_DATA">
                <sequence>
                    <element name="dataAvailable" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="oeid" type="xsd:string"/>
                    <element name="ssp" type="xsd:byte"/>
                    <element name="multipleDPA" type="xsd:byte"/>
                    <element name="tas" type="xsd:byte"/>
                    <element name="tac" type="xsd:byte"/>
                    <element name="hty" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="npa" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="wc" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ca" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pr" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pty" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="exk" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ptn" type="xsd:string"/>
                    <element name="inwardOnlyFlag" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="dpa" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pgsn" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="lt" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="coByte" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ospByte" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="termByte" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="features" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="rmuId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="lrn" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="portedStatus" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTREQ_BSOREQ">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="profileName" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testDuration" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="period" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="syncTime" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="trainingType" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dsDataRate" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="vpi" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="vci" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="encapMode" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="lbTimeout" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="llid" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="slid" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="noLbksReq" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ipAuthProtocol" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="function" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="staticOrDynamicIp" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="neIpAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="neNetMask" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ipGatewayAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="domainNameServer" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="nat" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="neLanIpAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="statIpAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="statNetMask" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pingAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pingMode" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pingTimeout" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="httpAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="httpSearchString" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="httpOutputMode" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="httpProxy" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="proxyPort" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="traceRouteIpAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxHops" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tputIpAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tputFileName" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tputLoginId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tputPassword" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tputMode" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pppAuthProtocol" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pppLoginName" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pppPassword" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pppServerName" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="usInterleaveDelay" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dsInterleaveDelay" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="usNoiseMargin" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dsNoiseMargin" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="modemMode" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="modemChannelType" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="usDataRate" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="htputAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="htputFileName" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="potsKeepAlive" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dslType" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslMinDr" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslMaxDr" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslUpNm" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslDownNm" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslAnnex" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslModemMode" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslPamConst" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslCapList" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="gshdslEncap" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="trellis2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="reed2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="protocols2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="minDownDr2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="minUpDr2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxDownDr2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxUpDr2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="raDownRatio2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="raUpRatio2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxDownDelay2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxUpDelay2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="minDownNp2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="minUpNp2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxDownBer2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxUpBer2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="advCmv" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="trellisv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="reedv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="vdsl2mode" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="vdsl2profin" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="vdsl2profout" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="minDownDrv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="minUpDrv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxDownDrv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxUpDrv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="raDownRatiov2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="raUpRatiov2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxDownDelayv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxUpDelayv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="minDownNpv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="minUpNpv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxDownBerv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="maxUpBerv2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ispReset" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="bsoSyncStatus" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="bsoTestBufferId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="bsoprofile" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="serviceclass" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipSipId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipMacAddress" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipRtpFile" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipLoopCount" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipForceReg" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipCallSrvIp" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipRegistrarIp" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipOrigPort" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipAddrOfRec" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipFqdn" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipUsername" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipPassword" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipSrcDesc" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipDest" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipDestType" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipCqm" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="voipDestTnSipId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="vlanPtag" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="vlanQtag" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="diffServ" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTREQ_SNMPDATA">
                <sequence>
                    <element name="snmpVersion" type="xsd:short"/>
                    <element maxOccurs="1" minOccurs="0" name="snmpWriteCommunity" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="snmpV3UserID" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="snmpV3Password" type="xsd:string"/>
                    <element name="snmpV3SecurityLevel" type="xsd:short"/>
                    <element name="snmpAuthenticationProtocol" type="xsd:short"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTREQ">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="hdr" type="impl:MLTTESTREQ_HDR"/>
                    <element maxOccurs="1" minOccurs="0" name="listId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tid" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testby" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="objectId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="key" type="impl:MLTTESTREQ_KEY"/>
                    <element maxOccurs="1" minOccurs="0" name="testerId1" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testerId2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testerId3" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="userSecurityId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testerPhone" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testType" type="xsd:string"/>
                    <element name="sessionInd" type="xsd:short"/>
                    <element maxOccurs="1" minOccurs="0" name="temperature" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="derivedData" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="lrnOverride" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="oeidOverride" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="mdfId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="resultsMode" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="priority" type="xsd:string"/>
                    <element name="batchMode" type="xsd:byte"/>
                    <element name="bufferMode" type="xsd:short"/>
                    <element maxOccurs="1" minOccurs="0" name="troubleType" type="xsd:string"/>
                    <element name="chronicFlag" type="xsd:short"/>
                    <element maxOccurs="1" minOccurs="0" name="cable" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="pair" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dslamId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="drack" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dshelf" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dslot" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dline" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ipAddress" type="xsd:string"/>
                    <element name="dslamType" type="xsd:short"/>
                    <element name="thType" type="xsd:short"/>
                    <element name="cltmSlot" type="xsd:short"/>
                    <element name="cltAccMode" type="xsd:short"/>
                    <element name="userDataIndicator" type="xsd:byte"/>
                    <element name="ddslbusy" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="cmt" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tToneFrequency" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tToneLevel" nillable="true" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="tToneTime" nillable="true" type="xsd:string"/>
                    <element name="subscribedDataRate" type="xsd:short"/>
                    <element name="cableGaugeMakeupSet" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="cableGaugeMakeup" type="impl:MLTTESTREQ_CABLEGAUGEMAKEUP"/>
                    <element maxOccurs="1" minOccurs="0" name="data" type="impl:MLTTESTREQ_DATA"/>
                    <element maxOccurs="1" minOccurs="0" name="bsoReq" type="impl:MLTTESTREQ_BSOREQ"/>
                    <element maxOccurs="1" minOccurs="0" name="snmpdata" type="impl:MLTTESTREQ_SNMPDATA"/>
                    <element name="gaugetype" type="xsd:short"/>
                    <element maxOccurs="1" minOccurs="0" name="aid" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="in0" type="impl:MLTTESTREQ"/>
            <complexType name="MLTTESTACK_HDR">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="testSysType" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testRqstrId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="testSysId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo1" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo2" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo3" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo4" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo5" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="echo6" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTACK_CID_FMTP">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="npa" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="nnx" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="line" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="cktid" type="xsd:string"/>
                    <element name="char1" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="char4" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dpa" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="lti" type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTACK_KEY_CID">
                <sequence>
                    <element name="cktfmt" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="fmtP" type="impl:MLTTESTACK_CID_FMTP"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTACK_KEY">
                <sequence>
                    <element name="choice" type="xsd:short"/>
                    <element maxOccurs="1" minOccurs="0" name="unbundleId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="exk" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="oeid" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="cid" type="impl:MLTTESTACK_KEY_CID"/>
                </sequence>
            </complexType>
            <complexType name="MLTTESTACK">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="hdr" type="impl:MLTTESTACK_HDR"/>
                    <element maxOccurs="1" minOccurs="0" name="listId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="objectId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="language" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="key" type="impl:MLTTESTACK_KEY"/>
                    <element maxOccurs="1" minOccurs="0" name="dslamId" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="drack" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dshelf" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dslot" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="dline" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="ipAddress" type="xsd:string"/>
                    <element name="dslamType" type="xsd:short"/>
                    <element name="thType" type="xsd:short"/>
                    <element name="ddslbusy" type="xsd:byte"/>
                    <element maxOccurs="1" minOccurs="0" name="status" type="xsd:string"/>
                    <element maxOccurs="1" minOccurs="0" name="errorDesc" type="xsd:string"/>
                </sequence>
            </complexType>
            <element name="sendTestRequestReturn" type="impl:MLTTESTACK"/>
            <element name="fault" type="tns1:RequestToMLTreject"/>
        </schema>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://RequestToMLTPackage.TestRequestAPI.loopcare.tollgrade">
            <import namespace="http://TestRequestAPI.loopcare.tollgrade"/>
            <complexType name="RequestToMLTreject">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="errorDesc" type="xsd:string"/>
                    <element name="errorCode" type="xsd:short"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>
    <wsdl:message name="RequestToMLTreject">
        <wsdl:part element="impl:fault" name="fault"/>
    </wsdl:message>
    <wsdl:message name="sendTestRequestResponse">
        <wsdl:part element="impl:sendTestRequestReturn" name="sendTestRequestReturn"/>
    </wsdl:message>
    <wsdl:message name="sendTestRequestRequest">
        <wsdl:part element="impl:in0" name="in0"/>
    </wsdl:message>
    <wsdl:portType name="RequestToMLTOperations">
        <wsdl:operation name="sendTestRequest" parameterOrder="in0">
            <wsdl:input message="impl:sendTestRequestRequest" name="sendTestRequestRequest"/>
            <wsdl:output message="impl:sendTestRequestResponse" name="sendTestRequestResponse"/>
            <wsdl:fault message="impl:RequestToMLTreject" name="RequestToMLTreject"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestRequestAPIProxySoapSoapBinding" type="impl:RequestToMLTOperations">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendTestRequest">
            <wsdlsoap:operation soapAction=""/>
            <wsdl:input name="sendTestRequestRequest">
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sendTestRequestResponse">
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="RequestToMLTreject">
                <wsdlsoap:fault name="RequestToMLTreject" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="RequestToMLTOperationsService">
        <wsdl:port binding="impl:TestRequestAPIProxySoapSoapBinding" name="TestRequestAPIProxySoap">
            <wsdlsoap:address location="http://mltdnt01-test.test.intranet/soaptester/services/TestRequestAPIProxySoap"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>